<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <span  *ngFor="let item of Users" >
  <ion-list  *ngIf="item.username != chatService.getLoggedInUser()" style="padding:2px 0px">
    <ion-item (click)="sendData(item.username)" style="cursor: pointer;">
      <ion-avatar slot="start">
        <img
          src="https://i.pinimg.com/originals/a2/de/39/a2de3954697c636276192afea0a6f661.jpg"
        />
      </ion-avatar>
       <h3 style="color:#2d3436">{{item.username}}</h3>
    </ion-item>
  </ion-list>
</span>

</ion-content>
