<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <span *ngFor="let item of chatsArray">
  <ion-list *ngIf="item.messages.length > 0" style="padding: 5px 0px">
    <ion-item-sliding>
    <ion-item  (click)="sendData(item.name)" >
      <ion-avatar slot="start">
        <img
          src="https://i.pinimg.com/originals/a2/de/39/a2de3954697c636276192afea0a6f661.jpg"
        />
      </ion-avatar>
      <ion-label style="margin: 5px 0px">
      <h6 style="float: right; font-size: 80%; margin-top: 4px;">{{item.messages[item.messages.length -1].time}}</h6>
      <h2>{{item.name}}</h2>
      <ion-badge color="success" style="float: right;">44</ion-badge>

        <p *ngIf="item.messages != undefined" style="margin-right: 80px;">{{item.messages[item.messages.length -1].message}}</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="primary">Mark Unread</ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</span>


</ion-content>
