<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="cursor: pointer;">Channels  </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sk==0" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-button expand="block" (click)="addChannel()">Create Channel</ion-button>

  <ion-list *ngFor="let item of rooms"  >
    <ion-item (click)="sendData(item)" style="cursor: pointer;" >
      <ion-avatar slot="start">
        <img
        src="https://i.pinimg.com/originals/a2/de/39/a2de3954697c636276192afea0a6f661.jpg"
      />
      </ion-avatar>
       <h3 style="color:#2d3436">{{item}}</h3>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-content *ngIf="sk==1" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-card-header>
      <ion-card-title>Create Channel</ion-card-title>
    </ion-card-header>
  
    
      <form #users="ngForm" (submit)="addUsers(users)">
        <ion-item style="margin: 5px 30px">
          <ion-input  type="text" class="form-control"  name="channelname" ngModel #channelname="ngModel" placeholder="Channel Name" required></ion-input>
        </ion-item >
              <ng-select  style="margin: 5px 30px;"
              [items]="Checks"
              bindLabel="username"
              bindValue="username"
              [multiple]="true"
              placeholder="Add Members"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="selectedUsers"
              >
              </ng-select>
              <!-- <ng-select
    [items]="Checks"
    [multiple]="true"
    bindLabel="username"
    [selectableGroup]="true"
    [closeOnSelect]="false"
    bindValue="username"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="selectedUsers">
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" name="checkbox" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
    </ng-template> -->
<!-- </ng-select> -->
              <ion-button type="submit" color="dark" expand="block">Save</ion-button>
              <ion-button (click)="addChannel()" color="danger" expand="block">Close</ion-button>
      </form>
</ion-content>

