<ion-header translucent >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img
        src="https://i.pinimg.com/originals/a2/de/39/a2de3954697c636276192afea0a6f661.jpg"
      />
    </ion-avatar>
    <ion-title ><span  (click)="presentModal()">{{channels}}</span><ion-icon style="float: right;" name="ellipsis-vertical-sharp"></ion-icon></ion-title>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  class="background"  >
    
    <div *ngFor="let item of channelmessageArray">
      <p *ngIf="item.user != undefined" 
      [class.userMessage]="item.user == chatService.getLoggedInUser()"
      [class.secUserMessage]="item.user != chatService.getLoggedInUser()"
    >
      <b style="opacity: 0.5;"> {{ item.user }}</b> <br />
      {{ item.message
      }}<small style="margin-left: 1rem;">{{ item.time }}</small>
    </p>
  <span *ngIf="item.user == undefined" style="text-align: center; background-color: tomato;">
    <p [class.notificationmessage]="item.user == undefined">
      <br />
      <b> {{ item.message }}</b>
      <!-- <small style="margin-left: 1rem;">{{ item.time }}</small> -->
    </p>
  </span>

            </div>
</ion-content>
        <div style="margin-top: 30px;">
          <ion-row style="position: fixed;bottom: 0;background-color: #ecf0f1;width: 100%;margin-top: 10px;">
              <ion-col size="9"style="height: 40px;margin-top: 5px;">
                  <ion-input [(ngModel)]="message" (keypress)="typing()" (keyup.enter)="sendChannelMessage()" style="border: 1px solid #dff9fb;height: 35px;margin-left: 5px;border-radius: 15px;" placeholder="Message" name="message" type="text" style="background-color: #c5d1d4;position: fixed;bottom: 5px;width: 75%;border-radius: 15px; "></ion-input>
              </ion-col>
              <ion-col size="1">
                  <ion-button (click)="sendChannelMessage()" style="position:fixed;bottom: 1px;">
                      <ion-icon name="send-sharp" style="background-color: transparent; "></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
      </div>
