<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" *ngIf="chatService.getLoggedInUser() !== null">
          <ion-avatar slot="start" style="float: left;display: inline;">
            <img
              src="https://i.pinimg.com/originals/a2/de/39/a2de3954697c636276192afea0a6f661.jpg"
            />
          </ion-avatar>
          <ion-list-header>{{usernName()}}</ion-list-header>
          <ion-note style="margin-bottom: 10px;">hi@ionicframework.com</ion-note>

          <button ion-button (click)="hide()" style="float: right;"><ion-icon name="caret-down-sharp" style="background-color: transparent; border: transparent;"></ion-icon></button>
          <div *ngIf="hideMe"> 
            <ion-list style="padding:5px">
              
              <ion-item >
                <ion-label>Profile</ion-label>
              </ion-item>

              <ion-item >
                <!-- <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon> -->
                <ion-button expand="full" (click)="onLogout()"> <ion-icon name="power-sharp" style="margin-right: 5px; color: white;"></ion-icon>Logout</ion-button>
              </ion-item>


            </ion-list>
          </div>


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list" *ngIf="chatService.getLoggedInUser() !== null">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>

</ion-app>

