<ion-header translucent>
  <span *ngIf="counter == 0">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" fo>
      <img
        src="https://i.pinimg.com/originals/a2/de/39/a2de3954697c636276192afea0a6f661.jpg"
      />
    </ion-avatar>
    <ion-title>{{data}} <ion-icon name="ellipsis-vertical-sharp" style="float: right;"></ion-icon>
    </ion-title>
    <i class="isTyping" ></i> {{display}}

  </ion-toolbar>
</span>

<span *ngIf="counter == 1">
  <ion-toolbar>
    
    <ion-title>
      <ion-icon name="close-outline" (click)="cancel()"style="float: left;"></ion-icon>
      <ion-icon name="ellipsis-vertical-sharp" style="float: right;  margin-left: 30px;"></ion-icon>
      <ion-icon name="copy-outline" (click)="copy(copiedMessage)" style="float: right; margin-left: 30px;"></ion-icon>
      <ion-icon name="trash-outline" (click)="delete(index)" style="float: right;  margin-left: 30px;"></ion-icon>
  
    </ion-title>
    <i class="isTyping" *ngIf="isTyping != null && isTyping != ''"> {{isTyping}}</i>

  </ion-toolbar>
</span>
</ion-header>

<ion-content fullscreen  class="background"  >
  <span style="background-color: lawngreen;">
  <div *ngFor="let item of messageArray;let i=index;" ion-long-press [interval]="500" id ="p2" (press)="onPress(item.message,i)" (pressup)="onPressUp(item.message,i)">
              <p  class="change" 
                [class.userMessage]="item.user == chatService.getLoggedInUser()"  
                [class.secUserMessage]="item.user != chatService.getLoggedInUser()"
              >
                {{ item.message
                }}<small style="margin-left: 1rem;">{{ item.time }}</small>
              </p>
            </div>
          </span>
</ion-content>
        <div style="margin-top: 30px;">
          <ion-row style="position: fixed;bottom: 0;background-color: #ecf0f1;width: 100%;margin-top: 10px;">
              <ion-col size="9"style="height: 40px;margin-top: 5px;">
                  <ion-input [(ngModel)]="message" (keypress)="typing()"  (keyup.enter)="sendMessage()" style="border: 1px solid #dff9fb;height: 35px;margin-left: 5px;border-radius: 15px;" placeholder="Message" name="message" type="text" (input)="onSearch($event.target.value)" style="background-color: #c5d1d4;position: fixed;bottom: 5px;width: 75%;border-radius: 15px; "></ion-input>
              </ion-col>
              <ion-col size="1">
                  <ion-button (click)="sendMessage()" style="position:fixed;bottom: 1px;">
                      <ion-icon name="send-sharp" style="background-color: transparent; "></ion-icon>
                  </ion-button>
              </ion-col>
          </ion-row>
      </div>
