
.background{
    --background: url('https://i.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg');

  }
ion-avatar{     
    width:100% !important;  
    height : 100% !important;  
    max-width: 35px !important;  //any size
    max-height: 35px !important; //any size 
    }

      .conatiner{
        margin: 0;
        padding: 0;
      }
      #mario-chat{
        width: 100%;
        top : 0;
        bottom: 0;
        float: left;
        border: 1px solid #ddd;
        ; /* Hide scrollbars */
       
        
        box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
        /* border-radius: 10px; */
      
      }
      .modal-backdrop {
        background-color:transparent;
      }
      #chat-window{
        height: 84vh;
        overflow: auto;
        margin-bottom: 100px;
      }
      
      .chatbox{
        overflow: hidden
      }
      
      
      label{
        box-sizing: border-box;
        display: block;
        padding: 10px 20px;
      }
      
      input{
        padding: 10px 20px;
        box-sizing: border-box;
        background: #eee;
        border: 0;
        display: block;
        max-width: 800px;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        font-family: Nunito;
        font-size: 16px;
      }
      
      .selectMessage{
        background-color: lawngreen;
        width: 100%;
      }
     .change{
      background-color: lawngreen;
      width: 100%;
     }
      .userMessage {
        width: fit-content;
        max-width: 70%;
        background-color: #dff9fb;
        padding: 10px;
        border-radius: 5px;
        margin-top: 1px;
        margin-right:10px ;
        color: black;
        clear: both;
        float: right;
        word-wrap: break-word;
      }
      .notificationmessage {
        width: fit-content;
        font-size: 90%;
        max-width: 70%;
        margin-left: 30%;
        text-align: center;
        opacity: 0.6;
        color: rgb(19, 18, 18);
        border-radius: 5px;
        clear: both;
        word-wrap: break-word;
      }
      
      .secUserMessage {
        width: fit-content;
        max-width: 70%;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-top: 1px;
        margin-left:10px ;
        color: black;
        clear: both;
        float: left;
        word-wrap: break-word;
      
      }
      
      
      
      .isTyping {
        color: #888787;
        padding-left: 10px;
      margin-left: 10px;
       }
      
      
     
    
      
      #memberdetails li:hover{
        background-color: #dff9fb;
        padding: 5px;
        border-radius: 50px;
        cursor: pointer;
        transition:  background-color 0.3s;
      
        
      }
     
      
      
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }

      
      @media (max-width: 768px) {
        .ico a {
         display: none;
        }
      }
      
        @media only screen and (min-width: 769px) {
          #sd {
            display: none;
          }
        
        }
        
        /* #send{
          width: 10%;
        } */
      
      
        @media screen and (min-width: 700px) and (max-width:799px) {
          .sender{
            width: 65%;
          }
        }
        @media screen and (min-width: 800px) and (max-width:899px) {
          .sender{
            width: 70%;
          }
        }
        @media screen and (min-width: 900px) and (max-width:999px){
          .sender{
            width: 73%;
          }
        }
        @media screen and (min-width: 1000px) and (max-width:1100px){
          .sender{
            width: 77%;
          }
        }
        @media screen and (min-width: 1100px) and (max-width:1200px){
          .sender{
            width: 78%;
          }
        }
        @media screen and (min-width: 1200px){
          .sender{
            width: 85%;
          }
        }
      
        textarea{  
          box-sizing: padding-box;
          /* demo only: */
          padding:20px;
          width:100%;
          max-width: 1140px;
          font-size:14px;
          display:block;
          border-radius:10px;
          border:6px solid #556677;
          max-height: 900px;
        }